* {
  margin: 0;
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
:root {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125em;
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

body {
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;

  position: relative;
  background-color: var(--White);
}
.mobile_image {
  width: 100%;
  margin-top: -36%;
}
.background_image {
  top: 1em;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.text {
  font-size: 2.1em;
  width: 8em;
  text-align: center;
}
.top {
  display: flex;
  justify-content: center;
  padding: 2em;
}
.middle_text {
  font-size: 0.85em;
  width: 21.4em;
  line-height: 1.3em;
  text-align: center;
  color: var(--Grayish-Blue);
}
.middle {
  display: flex;
  justify-content: center;
}
.bottom {
  margin-top: 2em;
  margin-bottom: 6em;
  display: flex;
  justify-content: center;
}
.button {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 1.5rem;
  border: none;
  color: var(--White);
  font-size: 1.1em;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
}
.text_2 {
  font-size: 0.85em;
  width: 22.4em;
  line-height: 1.3em;
  text-align: center;
  color: var(--Grayish-Blue);
}
.text_2_ {
  font-size: 0.85em;
  width: 22.4em;
  line-height: 1.3em;
  text-align: center;
  color: var(--Grayish-Blue);
}
.Page_2_content {
  padding-top: 2.5em;
  padding-bottom: 2em;
}
.content_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.text {
  display: flex;
  justify-content: center;
}

.img {
  padding-top: 3em;
  padding-bottom: 1em;
}
.facilities {
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 1.4em;
}
.r_desk {
  display: none;
}
.articles {
  /* width temp */

  display: flex;
  padding-top: 5em;
  padding-bottom: 4em;
  flex-direction: column;
}
.article_info {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.heading_desk {
  display: flex;
  justify-content: center;
  padding-top: 5em;
  margin-bottom: -4em;
}
.heading {
  align-self: center;
  font-size: 2.1em;
}
.article_image {
  display: flex;
  align-self: center;
  padding-top: 1em;
  padding-bottom: 2em;
  width: 18.5em;
  border-top-right-radius: 1.4em;
  border-top-left-radius: 1.4em;
}
.article_image_ {
  display: flex;
  align-self: center;
  padding-top: 1em;
  padding-bottom: 2em;
  width: 18.5em;
  border-top-right-radius: 1.4em;
  border-top-left-radius: 1.4em;
}

.author {
  padding-left: 2.6em;
  /* padding-right: 3.3em; */
  font-size: 0.7em;
  color: var(--Grayish-Blue);

  margin-bottom: 1em;
}
.description {
  padding-left: 2em;
  /* padding-right: 2.5em; */

  width: 17em;
  font-size: 0.9em;
  padding-bottom: 1em;
}
.detail {
  padding-left: 2.5em;
  /* padding-right: 2.85em; */
  color: var(--Grayish-Blue);
  width: 22em;
  font-size: 0.75em;

  padding-bottom: 4em;
}

.author,
.description,
.detail {
  line-height: 1.3em;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Dark-Blue);
}
.title {
  padding-top: 2em;
  padding-bottom: 2em;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon {
  padding-left: 1em;
}
.icon_img {
  width: 2em;
  padding-bottom: 2em;
}

.footer_info {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  align-items: center;
}
.midleleft,
.midleright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options {
  padding: 0.5em;
  color: var(--White);
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot_button {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 1.5rem;
  border: none;
  color: var(--White);
  font-size: 1.1em;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
}
.footer_button {
  padding-bottom: 1em;
}
.rights {
  padding-top: 1em;
  padding-bottom: 2.5em;
  color: var(--Grayish-Blue);
}
.dropdown_content {
  display: none;
  position: absolute;
  background-color: var(--White);
  width: 18.5em;
  box-shadow: 20px 20px 20rem 2rem rgb(65, 63, 63);
  margin-top: 3.1em;

  border-radius: 0.5em;
}
.desk {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.home:hover .dropdown_content {
  display: flex;
  padding-top: 1em;
  flex-direction: column;
  justify-content: space-around;
  justify-self: center;
  padding-bottom: 1em;
  align-items: center;
  margin-left: -18.3em;
  .options {
    color: rgb(3, 3, 3);
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
.home:hover {
  .homebar {
    display: none;
  }
  .close {
    display: inline-block;
  }
}
.close {
  display: none;
  position: absolute;
  left: 400px;
  z-index: 100%;
  left: 20.5em;
  margin-top: -0.5em;
}
.Page_2_content {
  background-color: var(--Light-Grayish-Blue);
}
.dropdown_content_out {
  display: none;
}
.button_desktop {
  display: none;
}
.background_image_desktop {
  display: none;
}
.mobile_image_pc {
  display: none;
}
@media only screen and (min-width: 325px) and (max-width: 420px) {
  .close {
    display: none;
    position: absolute;
    left: 400px;
    z-index: 100%;
    left: 18em;
    margin-top: -0.5em;
  }
}
@media screen and (min-width: 720px) {
  .outer_flex {
    width: 100bh;
    overflow: hidden;
    position: relative;
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-right: 0;
    z-index: 100;
  }
  .home_image {
    position: absolute;
    padding-left: 6.5em;
  }
  .dropdown_content_out {
    display: flex;
    flex-direction: row;
    margin-left: 22em;
    margin-right: 2em;
    margin-bottom: -0.9em;
  }
  .home {
    display: none;
  }
  .options {
    color: var(--Grayish-Blue);
  }
  .button_desktop {
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-radius: 1.5rem;
    border: none;
    color: var(--White);
    font-size: 1.1em;
    background-image: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    margin-right: 8em;
  }
  .flex_1 {
    display: flex;

    flex-direction: row;
    overflow: hidden;
  }

  .mobile_image_pc {
    display: block;
    position: absolute;
    width: 53%;
    right: -9.2%;
    top: -1.7%;
    z-index: 0;
  }
  .mobile {
    display: none;
  }
  .background_image {
    display: none;
  }

  .background_image_desktop {
    display: block;
    position: relative;
    width: 100%;
    z-index: -3;
    right: -7.5em;
    top: -10em;
  }

  .Page_1_content {
    padding-top: 4em;
    padding-left: 7em;
  }
  .text {
    text-align: left;
    margin-left: -1.4em;
  }
  .bottom {
    margin-left: -8.8em;
  }
  .middle_text {
    width: 25em;
    text-align: left;
    margin-left: 2em;
  }
  .Page_2_content {
    z-index: -1;
  }
  .top_desktop {
    margin-left: -31em;
  }
  .t_desk {
    width: 27em;
  }
  .text_d {
    width: 20em;
  }
  .temp {
    display: none;
  }
  .r_desk {
    display: block;
    width: 20em;
    font-size: 1.7em;
    margin-left: -1.5em;
  }

  .desk_1 {
    margin-left: -6em;
  }
  .text_2_ {
    margin-left: -51em;

    text-align: left;
  }
  .text_2 {
    text-align: left;
    width: 17em;
  }
  .desk {
    align-items: start;
    padding-right: 1em;
  }
  .main_desk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -1em;
  }

  .article_desk {
    flex-direction: column;
    margin-left: 1em;
  }
  .heading_desk {
    display: flex;
    justify-content: left;
    padding-left: 7.7em;
  }
  .articles {
    flex-direction: row;
    padding-left: 8em;
  }
  .article_info {
    padding-right: 1.4em;
  }
  .article_image {
    width: 14.5em;
  }

  .article_image_ {
    width: 13em;
  }

  .author {
    padding-left: 1.7em;
    font-size: 0.6em;
  }
  .description {
    padding-left: 1.4em;

    font-size: 0.7em;
  }
  .detail {
    padding-left: 1.5em;
    font-size: 0.7em;
    width: 16em;
  }
  footer {
    padding-top: 1em;
    flex-direction: row;
    justify-content: space-around;
  }
  .left {
    justify-content: space-between;
    flex: 1;
  }

  .footer_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }
  .right {
    flex: 2;
  }
  .icon_img {
    width: 1.2em;
  }
  .foot_button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
  }
  .title {
    padding-bottom: 3em;
  }
  .button_desktop:hover,
  .button:hover {
    opacity: 0.6;
  }
  .foot_button:hover {
    opacity: 0.8;
  }
  .options_desk {
    padding: 0.5em;
    color: var(--Grayish-Blue);
    border-bottom: solid transparent;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  .options {
    color: var(--White);
  }
  .options_desk:hover {
    color: black;
    border-bottom-style: solid;
    border-image: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    border-image-slice: 1;
  }
  .description:hover,
  .options:hover {
    color: var(--Lime-Green);
  }
  .icon_img:hover > a > svg > path {
    fill: var(--Lime-Green);
  }
}
